<h1>Add a New Item</h1>

<form action="/insert_item" method="post">
  <label for="query_link_url">Link URL</label>
  <input type="text" id="query_link_url" name="query_link_url" required>

  <label for="query_link_description">Link Description</label>
  <input type="text" id="query_link_description" name="query_link_description" required>

  <label for="query_thumbnail_url">Thumbnail URL</label>
  <input type="text" id="query_thumbnail_url" name="query_thumbnail_url" required>

  <button type="submit">Create item</button>
</form>
